name: Deploying the Application to surge

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
    push:
        branches: [main]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "build"
    build:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        name: Deploying to surge

        steps:
            - uses: actions/checkout@v2
            - name: Install Node.js
              uses: actions/setup-node@v2-beta
              with:
                  node-version: 16
            - name: Prepare for Yarn Installation
              run: curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add - echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
            - name: Installing yarn
              run: sudo apt update && sudo apt install yarn
            - name: Installing App dependencies
              run: yarn
            - name: Building React App
              run: yarn build
            - name: Installing Surge
              run: npm install -g surge
            - name: Deploying to surge
              run: surge ./build nfy-dash.surge.sh --token ${{ secrets.SURGE }}
